button.ybtn{
    cursor: pointer;
    border: 1px solid #fbcf3b;
    border-bottom-color: #eab400;
    box-shadow: inset 0 -2px 0 #eab400, inset 0 1px 0 rgba(255,255,255,0.33);
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    padding: 13px 40px 13px 20px;
    transition: all 0.3s ease;
    white-space: nowrap;
    z-index: 2;
    animation-name: fmctyBounce;
    animation-iteration-count: 2;
    animation-delay: 2s;
    animation-duration: 5s;
    font-family: proxima-nova, Roboto, sans-serif;
    font-weight: 800;
    font-style: normal;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    -webkit-appearance: none;
    background-color: #fbcf3b;
    border: 0 none;
    border-radius: 4px;
    color: #202021;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    padding: 15px;
    position: relative;
    line-height: 1em;
    text-decoration: none;
}

button.ybtn span::before{
  content: "";
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat:no-repeat;
  left:10px;
}
.d-flex {
	display:flex;
	justify-content:center !important;
}
button.refinance span::before {
  background-image: url('https://assets.codepen.io/5468813/full+color+workflow+refinanace.svg');
  top:5px;
}

button.purchase span::before {
  background-image: url('https://assets.codepen.io/5468813/full+color+workflow+purchase+loan.svg');
  top:8px;
}

button.ybtn span {
  margin-left:40px;
}

.is-rounded .is-alt-btns .buttons__icon {
    width: auto;
    height: 78px;
    background-size: 48px 48px;
    background-position: 16px center;
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-left: 72px;
    padding-right: 16px;
    max-width: 246px;
    box-sizing: border-box;
}

.is-rounded .buttons__icon {
    position: relative;
    box-shadow: 0px 8px 14px rgb(0 0 0 / 16%);
    border-radius: 100px;
    border: 6px solid #d1dae2;
    background-position: center;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 116px;
    height: 116px;
    display: flex;
	align-items: center;
    transition: border-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 0 auto;
}

.accent-color__link, .accent-color {
    color: rgb(60, 129, 153);
}

.buttons__item{
  border: 0px;
  background: none;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .buttons.d-flex {
    display:flex;
	  flex-direction:column;
  }
  .buttons.d-flex button {
	  margin-top:15px;
  }
}

.is-rounded .buttons__item:hover .buttons__icon,
.is-rounded .buttons__item:hover .accent-color {
    border-color: #261d52;
	color:#261d52;
}